# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
#*.lib

# Executables
*.exe

# eclipse/DDT
.project
.settings

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

# not necessary or later
private/
source/acos5_64_h.d
source/acos5_64_sm.d
