# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
#*.lib

# Executables
*.exe

# eclipse/DDT
.project
.settings

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

.directory
# not necessary to be done or later:
private/
source/acos5_64_h.d
source/acos5_64_sm.d
source/acos5_64_old.ddd
source/libacos5_64.def
